*{
    font-family:poppins;
    text-align:center;
    font-size:20px;
    color:#F5F5F7;
    margin:0;
    padding:0;
    box-sizing :border-box;
}
#window-container{
    background-color:#1B1B1B;
    width:100vw;
    height:100vh;
    min-width:400px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}
#button-container{
    width:100%;
    height:200px;
    min-width:400px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    align-content:center;
    
}
.choice-button{
    
    width:20%;
    height:100%;
    background-color:#1B1B1B;
    border:none;
    filter:grayscale(100%);
    transition: 0.2s ease;
   
   
}
.choice-button:hover{
    filter:none;
    z-index:2;
}
.choice-image{
    height:100px;
    cursor:pointer;
    transition:0.2s ease;
}
.paper:hover{
    filter:drop-shadow(10px 10px 100px #01DFBA) drop-shadow(0px 0px 40px #01DFBA) ;
      
}
.rock:hover{
    filter:drop-shadow(10px 10px 100px #FE2CF1) drop-shadow(0px 0px 40px #FE2CF1);
}
.scissor:hover{
    filter:drop-shadow(10px 10px 100px #0B7CEB) drop-shadow(0px 0px 40px #0B7CEB);
}

#choice-container{
    width:100%;
    height:240px;
    background-color:#1B1B1B;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}
.user-choice{
    height:100%;
    width:40%;
    background-color:#1B1B1B;   
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius:140px;
    
}
.computer-choice{
    height:100%;
    width:40%;
    background-color:#1B1B1B;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius:140px;
}
.js-paper{
    background-image:url('images/paper.png');
    filter:drop-shadow(10px 10px 100px #01DFBA) drop-shadow(0px 0px 40px #01DFBA);
    border:2px solid #01DFBA;
    z-index:4;
    
}
.js-rock{
    background-image:url('images/rock.png');
    filter:drop-shadow(10px 10px 100px #FE2CF1) drop-shadow(0px 0px 40px #FE2CF1);
    border:2px solid #FE2CF1;
    z-index:4;
  
}
.js-scissor{
    background-image:url('images/scissor.png');
    filter:drop-shadow(10px 10px 100px #0B7CEB) drop-shadow(0px 0px 40px #0B7CEB);
    border:2px solid #0B7CEB;
    z-index:4;
 
}
